# Read this first 

* each comment and text line added here is important and relevant , dont skim through just the code
* if the comment asks you to revisit some concepts/modules , do so
* this is not complete code on its own , you need to fill in your own code to eventually start building a better model

In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np

In [2]:
datafile_train="/Users/lalitsachan/Dropbox/March onwards/PDS V2/Projects/P6/train.csv"
datafile_test="/Users/lalitsachan/Dropbox/March onwards/PDS V2/Projects/P6/test_share.csv"
bd_train=pd.read_csv(datafile_train)
bd_test=pd.read_csv(datafile_test)

In [3]:
# you have been given additional data files which contain information about patient's 
# medical and demographic details . we'll merge those details with train and test 
# files using a common unique identifier

In [4]:
medical_hist='/Users/lalitsachan/Dropbox/March onwards/PDS V2/Projects/P6/medical_history.csv'
demo_det='/Users/lalitsachan/Dropbox/March onwards/PDS V2/Projects/P6/demographic_details.csv'

In [5]:
med=pd.read_csv(medical_hist)

In [6]:
dem=pd.read_csv(demo_det)

In [7]:
# both the datasets have patient id as unique identifier

In [8]:
med.nunique()

PatientId       62299
Hipertension        2
Diabetes            2
Alcoholism          2
Handcap             5
dtype: int64

In [9]:
dem.nunique()

PatientId        62299
Gender               2
Age                104
Neighbourhood       81
Scholarship          2
dtype: int64

In [10]:
# note that this patient info is for both train and test

In [11]:
comb=pd.merge(med,dem,how='outer',on='PatientId')

In [12]:
comb.head()

,PatientId,Hipertension,Diabetes,Alcoholism,Handcap,Gender,Age,Neighbourhood,Scholarship
0,2.987250e+13,1,0,0,0,F,62,JARDIM DA PENHA,0
1,5.589978e+14,0,0,0,0,M,56,JARDIM DA PENHA,0
2,4.262962e+12,0,0,0,0,F,62,MATA DA PRAIA,0
3,8.679512e+11,0,0,0,0,F,8,PONTAL DE CAMBURI,0
4,8.841186e+12,1,1,0,0,F,56,JARDIM DA PENHA,0

In [13]:
bd_train.head()

,PatientId,AppointmentID,ScheduledDay,AppointmentDay,SMS_received,No-show
0,2.987250e+13,5642903,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,0,No
1,5.589978e+14,5642503,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,0,No
2,8.679512e+11,5642828,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,0,No
3,8.841186e+12,5642494,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,0,No
4,9.598513e+13,5626772,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,0,No

In [14]:
train=pd.merge(bd_train,comb,how='left',on='PatientId')
test=pd.merge(bd_test,comb,how='left',on='PatientId')

In [15]:
train.head()

,PatientId,AppointmentID,ScheduledDay,AppointmentDay,SMS_received,No-show,Hipertension,Diabetes,Alcoholism,Handcap,Gender,Age,Neighbourhood,Scholarship
0,2.987250e+13,5642903,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,0,No,1,0,0,0,F,62,JARDIM DA PENHA,0
1,5.589978e+14,5642503,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,0,No,0,0,0,0,M,56,JARDIM DA PENHA,0
2,8.679512e+11,5642828,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,0,No,0,0,0,0,F,8,PONTAL DE CAMBURI,0
3,8.841186e+12,5642494,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,0,No,1,1,0,0,F,56,JARDIM DA PENHA,0
4,9.598513e+13,5626772,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,0,No,1,0,0,0,F,76,REPÚBLICA,0

In [16]:
# we are going to drop columns 'PatientId', 'AppointmentID', 'ScheduledDay', 'AppointmentDay'

# you should try making features out of date columns to improve performance of your model
# try the difference in dates , cyclic features from date components

In [17]:
drop_cols=['PatientId', 'AppointmentID', 'ScheduledDay', 'AppointmentDay']

In [18]:
train.drop(drop_cols,1,inplace=True)
test.drop(drop_cols,1,inplace=True)

In [20]:
train['data']='train'
test['data']='test'

all_data=pd.concat([train,test],0,sort=False)

In [21]:
all_data['gender_f']=(all_data['Gender']=='F').astype(int)
del all_data['Gender']

In [22]:
all_data.shape

(110344, 11)

In [23]:
k=all_data['Neighbourhood'].value_counts()
cats=k[k>2000].index

# you can try slightly loweer cutoff to include dummy vars for more neighbourhoods 
# check if that improves your model

In [24]:
for cat in cats:
    name='Neighbourhood_'+cat
    all_data[name]=(all_data['Neighbourhood']==cat).astype(int)
del all_data['Neighbourhood']

In [25]:
all_data.shape

(110344, 31)

In [26]:
all_data.head()

,SMS_received,No-show,Hipertension,Diabetes,Alcoholism,Handcap,Age,Scholarship,data,gender_f,...,Neighbourhood_SANTO ANDRÉ,Neighbourhood_CARATOÍRA,Neighbourhood_JABOUR,Neighbourhood_SÃO PEDRO,Neighbourhood_ILHA DO PRÍNCIPE,Neighbourhood_NOVA PALESTINA,Neighbourhood_DA PENHA,Neighbourhood_ANDORINHAS,Neighbourhood_ROMÃO,Neighbourhood_GURIGICA
0,0,No,1,0,0,0,62,0,train,1,...,0,0,0,0,0,0,0,0,0,0
1,0,No,0,0,0,0,56,0,train,0,...,0,0,0,0,0,0,0,0,0,0
2,0,No,0,0,0,0,8,0,train,1,...,0,0,0,0,0,0,0,0,0,0
3,0,No,1,1,0,0,56,0,train,1,...,0,0,0,0,0,0,0,0,0,0
4,0,No,1,0,0,0,76,0,train,1,...,0,0,0,0,0,0,0,0,0,0

In [27]:
target='No-show'

In [28]:
x_train=all_data.drop([target,'data'],1)[all_data['data']=='train']
y_train=all_data[target][all_data['data']=='train']
x_test=all_data.drop([target,'data'],1)[all_data['data']=='test']

In [29]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import RandomizedSearchCV

In [30]:
params={'penalty':['l1','l2'],'class_weight':['balanced',None],
        'C':np.linspace(0.01,100,100)}

In [31]:
model=LogisticRegression()

# tune more complex algos for improving performance

In [32]:
rs=RandomizedSearchCV(model,param_distributions=params,n_iter=10,
                      scoring='roc_auc',cv=10,n_jobs=-1,verbose=20)

In [33]:
rs.fit(x_train,y_train)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:    3.3s
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:    3.3s
[Parallel(n_jobs=-1)]: Done   3 tasks      | elapsed:    3.3s
[Parallel(n_jobs=-1)]: Done   4 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done   5 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done   6 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done   7 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done   8 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done  11 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done  12 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done  13 tasks      | elapsed:    4.4s
[Parallel(n_jobs=-1)]: Done  14 tasks      | elapsed:    4.5s
[Parallel(n_jobs=-1)]: Done  15 tasks      | elapsed:    4.5s
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    4.6s
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    4.7s
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    4.7s
[Parallel(n_jobs=-1)]: Done  19 tasks      | elapsed:    4.7s
[Parallel(n_jobs=-1)]: Done  20 tasks      | elapsed:    4.8s
[Parallel(n_jobs=-1)]: Done  21 tasks      | elapsed:    4.8s
[Parallel(n_jobs=-1)]: Done  22 tasks      | elapsed:    4.8s
[Parallel(n_jobs=-1)]: Done  23 tasks      | elapsed:    4.8s
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    4.8s
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:    5.5s
[Parallel(n_jobs=-1)]: Done  26 tasks      | elapsed:    5.8s
[Parallel(n_jobs=-1)]: Done  27 tasks      | elapsed:    5.8s
[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed:    5.9s
[Parallel(n_jobs=-1)]: Done  29 tasks      | elapsed:    6.1s
[Parallel(n_jobs=-1)]: Done  30 tasks      | elapsed:    6.1s
[Parallel(n_jobs=-1)]: Done  31 tasks      | elapsed:    6.2s
[Parallel(n_jobs=-1)]: Done  32 tasks      | elapsed:    6.2s
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:    6.2s
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    6.2s
[Parallel(n_jobs=-1)]: Done  35 tasks      | elapsed:    6.2s
[Parallel(n_jobs=-1)]: Done  36 tasks      | elapsed:    6.2s
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:    6.8s
[Parallel(n_jobs=-1)]: Done  38 tasks      | elapsed:    7.0s
[Parallel(n_jobs=-1)]: Done  39 tasks      | elapsed:    7.1s
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    7.1s
[Parallel(n_jobs=-1)]: Done  41 tasks      | elapsed:    7.4s
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    7.5s
[Parallel(n_jobs=-1)]: Done  43 tasks      | elapsed:    7.6s
[Parallel(n_jobs=-1)]: Done  44 tasks      | elapsed:    7.6s
[Parallel(n_jobs=-1)]: Done  45 tasks      | elapsed:    7.6s
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:    7.6s
[Parallel(n_jobs=-1)]: Done  47 tasks      | elapsed:    7.6s
[Parallel(n_jobs=-1)]: Done  48 tasks      | elapsed:    7.6s
[Parallel(n_jobs=-1)]: Done  49 tasks      | elapsed:    8.2s
[Parallel(n_jobs=-1)]: Done  50 tasks      | elapsed:    8.4s
[Parallel(n_jobs=-1)]: Done  51 tasks      | elapsed:    8.5s
[Parallel(n_jobs=-1)]: Done  52 tasks      | elapsed:    8.6s
[Parallel(n_jobs=-1)]: Done  53 tasks      | elapsed:    8.8s
[Parallel(n_jobs=-1)]: Done  54 tasks      | elapsed:    8.9s
[Parallel(n_jobs=-1)]: Done  55 tasks      | elapsed:    9.0s
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    9.0s
[Parallel(n_jobs=-1)]: Done  57 tasks      | elapsed:    9.1s
[Parallel(n_jobs=-1)]: Done  58 tasks      | elapsed:    9.1s
[Parallel(n_jobs=-1)]: Done  59 tasks      | elapsed:    9.2s
[Parallel(n_jobs=-1)]: Done  60 tasks      | elapsed:    9.2s
[Parallel(n_jobs=-1)]: Done  61 tasks      | elapsed:    9.4s
[Parallel(n_jobs=-1)]: Done  62 tasks      | elapsed:    9.8s
[Parallel(n_jobs=-1)]: Done  63 tasks      | elapsed:    9.9s
[Parallel(n_jobs=-1)]: Done  64 tasks      | elapsed:    9.9s
[Parallel(n_jobs=-1)]: Done  65 tasks      | elapsed:   10.3s
[Parallel(n_jobs=-1)]: Done  66 tasks      | elapsed:   10.5s
[Parallel(n_jobs=-1)]: Done  67 tasks      | elapsed:   10.7s
[Parallel(n_jobs=-1)]: Done  68 tasks      | elapsed:   10.7s
[Parallel(n_jobs=-1)]: Done  69 tasks      | elapsed:   10.7s
[Parallel(n_jobs=-1)]: Done  70 tasks      | elapsed:   10.7s
[Parallel(n_jobs=-1)]: Done  71 tasks      | elapsed:   10.7s
[Parallel(n_jobs=-1)]: Done  72 tasks      | elapsed:   10.7s
[Parallel(n_jobs=-1)]: Done  73 tasks      | elapsed:   10.9s
[Parallel(n_jobs=-1)]: Done  74 tasks      | elapsed:   11.0s
[Parallel(n_jobs=-1)]: Done  75 tasks      | elapsed:   11.1s
[Parallel(n_jobs=-1)]: Done  76 tasks      | elapsed:   11.1s
[Parallel(n_jobs=-1)]: Done  77 tasks      | elapsed:   11.4s
[Parallel(n_jobs=-1)]: Done  83 out of 100 | elapsed:   12.2s remaining:    2.5s
[Parallel(n_jobs=-1)]: Done  89 out of 100 | elapsed:   12.9s remaining:    1.6s
[Parallel(n_jobs=-1)]: Done  95 out of 100 | elapsed:   13.4s remaining:    0.7s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   13.5s finished

RandomizedSearchCV(cv=10, error_score='raise-deprecating',
          estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False),
          fit_params=None, iid='warn', n_iter=10, n_jobs=-1,
          param_distributions={'penalty': ['l1', 'l2'], 'class_weight': ['balanced', None], 'C': array([1.000e-02, 1.020e+00, ..., 9.899e+01, 1.000e+02])},
          pre_dispatch='2*n_jobs', random_state=None, refit=True,
          return_train_score='warn', scoring='roc_auc', verbose=20)

In [35]:
submissions=pd.DataFrame({'Junk':rs.predict_proba(x_test)[:,1]})
submissions.to_csv('sample_submission.csv',index=False)